
{%extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
<html style="background-color: purple">
 <body style="background-color: black">
     
 <h1 style="color:white"><center>Contact Info</center></h1>
<div class="homepage">
        <p style="color:white">うんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこ</p>

     <h3 style=" color: white; font-size: 220%"><center>Email: watashiwamaravilla@gmail.com</center></h3>
    <h3 style="color: white; font-size: 220%"><center>Mobile Number:  09099835507</center></h3>
    <p style="color:white">うんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこ</p>

    </div>
</body>
</html>

{% endblock content %}