
 {%extends "base.html" %}

 {% block title %} Home {% endblock title %}

 {% block content %}


<html style="background-color: purple">
    <body style="background-color: black">  

 <div class="homepage">
    <p style="color:white">うんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこ</p>
    <h1> <center style="color: white"> Being superior to your fellow men doesnt make you noble, </center> </h1>
    <h1> <center style="color: white"> true nobility is being superior to your former self </center> </h1>
    <p style="color:white">うんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこ</p>

    <p> <center style="color:white"><b>{{ message  }} </b>  </center> </p>    
    <p style="color:white">うんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこ</p>

</div>
 

{% endblock content %}