
{%extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
<html style="background-color: black">
 <body style="background-color: purple">

<p class="homepage">
    <h1 style="color:white"><center><b>RESUME</b></center> </h1>
    <p style="color:white">
            うんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこ</p>

    <p style="color:white"><strong>Name :</strong>James Christopher M. Maravilla</p>
        <p style="color:white">
                うんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこ</p>
        <p style="color:white"><strong>Birth Date :</strong> June 1st, 2000</p>
        <p style="color:white"><strong>Age :</strong> 18</p>
        <p style="color:white">
                うんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこ</p>

        <p><strong style="color:white">SCHOOL :</strong></p>
        <p style="color:white"><strong>Senior High School :</strong> Camarines Sur National High School</p>
        <p style="color:white"><strong>Junior High School :</strong> Camarines Sur National High School</p>
        <p style="color:white">
                うんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこ</p>
                
        <h1 style="color:white"><center><b>I believe life is short and pointless so be worry dont happy</b></center> </h1>
        <p style="color:white">
                うんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこうんこ</p>

       
</div>
</body>
</html>

{% endblock content %}